.message {
    // margin-bottom: 8px;
    padding: 10px 10px;
    // border-bottom: 1px solid lightgray;
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: 5px;
    max-height: 23px;
}

.message:hover {
    --tw-bg-opacity: 1;
    background-color: #333;
    -webkit-transition: background-color 0.5s ease-out;
    border-radius: 0.5rem;
    cursor: pointer;

    transition-duration: .50s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.message-history {
    width: 15%;
    // padding: 40px 10px;
    // padding: 35px 0px 35px 20px;
    padding: 25px 0px 29px 20px;
    // overflow-y: auto;
    --tw-bg-opacity: 1;
    background-color: #2f2f2f;
    // overflow-x: hidden;  
}

// .message-history ::-webkit-scrollbar { 
//     display: none;  
// }

.chat-history-list {
    margin: 0px auto;
    margin-top: 33px;
    min-height: 85%;
    max-height: 85%;
    background-color: #4b4b4b;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    padding: 3%;
    overflow-x: hidden;

}

.action-btns-mh {
    display: flex;
    margin: 0px 2px;
    max-height: 10%;
}

.side-menu-button {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    
    transition-duration: .25s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.side-menu-button span {
    padding-left: 10px;
    padding-right: 10px;
}

.side-menu-button:hover {
    background-color: #6e6c6c39;
}

.side-menu-newChat-button {
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-align: start;
    cursor: pointer;
    width: 80%;
    margin-right: 3%;

    transition-duration: .25s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.side-menu-newChat-button span {
    padding-left: 6px;
    padding-right: 12px;


}

.side-menu-newChat-button:hover {
    background-color: #6e6c6c39;
    // background-color: rgba(255, 255, 255, 0.1);


}

.no-messages-center {
    text-align: center;
    color: white;
    padding: 20px;
}

.msg-span {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.3rem;
}


.delete-icon {
    padding: 5px;
    border-radius: 10px;
}


.active-session {
    background-color: #333;
    // background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    color: #fff;
}

.session-main-title {
    overflow: hidden;
    text-overflow: ellipsis;
}